### <div class='alert alert-info'>Assignment 1 by Jayesh Singh </div>

1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6

##### Answer:

`Value are: ` 'hello', -87.8, 6

`Expression are: ` *, -, /, +

2. What is the difference between string and variable?

##### Answer:

String is a alpha numeric data which of text type. ex-> "Hello, am Jayesh Singh Raghuvanshi"

Variable can be a name given to the memory location which store any type of value. ex-> a=10, arr = {1,2,3,4}

3. Describe three different data types.

##### Answer:

3 data types are: Interger, Float, Boolean, etc.

`Integer`: which store numerical(discreate quantitative variable) value. ex: 4,5,6,9,12

`Float`:  which store decimal ( continous quantitative variable) value. ex: 3.14, 9.6

`Boolean`: which store only true and false. these are generally refer as true as 1 and false as 0.

4. What is an expression made up of? What do all expressions do?

##### Answer:

It's  consist of values and operators, and they can always evaluate down to a new value.
ex: y=mx+c. where m,x & c are value and + is an operators. and after solving it's will store its in y.

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

##### Answer:

1)An expression evaluates to a single value. A statement does not.

2)Statements represent an action or command e.g print statements, assignment statements.

print 'Ram Ram Bhai', x = 108.

whereas Expression is a combination of variables, operations and values that produce a result value.

5 * 5 -> resultant in 25

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

##### Answer:

After execuating the code, the value of `bacon` will be `22`

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

##### Answer:

The 1st case,the result will be `spamspamspam` because both value are of string so they will be concatinate.

for the 2nd case,theresult will be also be same `spamspamspam` because it wil replicate it.

8. Why is eggs a valid variable name while 100 is invalid?

##### Answer:

According to Shell Scripting â€“ Rules for Naming Variable Name, variable name can start with alphabet but can not start with numerical or special character.

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

##### Answer:

The 3 function are: `str`, `int` & `float`.

10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 +'burritos'

##### Answer:

Because we can not concatinate a string value with a numrical value. to do it we have 1st to convert the numerical value into str type.
`'I have eaten ' + str(99) +' burritos'`